.cart {
    position: fixed;
    right: 0;
    top: 0;
    background: #ffffff;
    width: 300px;
    border-top: 1px solid #cccccc;
    height: 100%;
    .products-container {          
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:  calc(300px -100%);
        position: relative;
        overflow-y: scroll;
    }
    .products {
        padding: 16px;
    }
    .total {
        position: fixed;
        bottom: 0;
        height: 150px;
        width: 300px;
        background: #cccccc;    
    }
    .item {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        border: none;
    }
    .price  { display: inline}
}