body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    border-bottom: 1px solid #aaaaaa;
    padding: 16px 0;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;

        li {
            display: inline-block;
            padding: 8px 16px;
        }

        a {
            text-decoration: none; 
            color: #000000;
            font-weight: 600;
            font-size: 18px;  
        }
    }
}

main {
    background: #1A7BEB;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
}

.products {
    list-style: none;
    padding: 16px 185px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .item {
        width: 150px;
        height: 150px;
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #cccccc;
        text-align: center;
        cursor: pointer;
    }
    .price {
        display: block;
    }
}
.cart {
    position: fixed;
    right: 0;
    top: 0;
    background: #ffffff;
    width: 300px;
    border-top: 1px solid #cccccc;
    height: 100%;
    .products-container {          
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:  calc(300px -100%);
        position: relative;
        overflow-y: scroll;
    }
    .products {
        padding: 16px;
    }
    .total {
        position: fixed;
        bottom: 0;
        height: 150px;
        width: 300px;
        background: #cccccc;    
    }
    .item {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        border: none;
    }
    .price  { display: inline}
}
.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    padding: 16px;
}